html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainpage{
  background: url("background.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.container{
  text-align:center;
  font: 'Roboto', sans-serif;
}
.container p{
  font-size:30px;
  color:white;
  text-shadow: 0px 1px rgba(0, 0, 0, 10);
}

.container h1{
  color: white;
  font-size: 80px;
  margin: auto;
}

.btn{
  color: white;
  text-decoration: none;
  text-shadow: 0px 1px rgba(0, 0, 0, 10);
  font-size: 25px;
  padding: 15px 30px;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(255,41,219,0.61) 0%, rgba(255,5,59,0.61) 0%, rgba(171,15,255,1) 100%);
}

.btn:hover{
  opacity: 0.87;
}

.wholebody{
  height: 100%;
}

.navbar{
  display: block;
  color: white;
  position: fixed;
  width: 100%;
}

.navhead{
  text-decoration: none;
  float: left;
  font-size: 40px;
  font-weight: bold;
  margin-left: 3.5%;
  color: white;
  padding-top: 0.75%;
  text-shadow: 0px 1.5px rgba(0, 0, 0, 10);
}

nav ul{
  list-style: none;
  float: right;
}

nav li{
  display: inline-block;
  margin-left: 50px;
  font-size: 32px;
  text-shadow: 0px 1.5px rgba(0, 0, 0, 10);
}

.lists{
  margin-right: 37%;
}

.lists ul li a{
  text-decoration: none;
  color: #fff;
}

.big{
  height: 80%;
}

.small{
  height: 50%;
  background: linear-gradient(to right, rgba(255,41,219,0.61) 0%, rgba(255,5,59,0.61) 0%, rgba(171,15,255,1) 100%);
}

.sect1{
  background: url("lady.jpg") center;
  background-attachment: fixed;
  background-size: cover;
}

.sect3{
  background: url("newsletter.jpg") center;
  background-attachment: fixed;
  background-size: cover;
}

.sect5{
  background: url("guitar.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.subsect1{
  padding-top: 7%;
  margin-left: 3.5%;

}

.subsect2{
  text-align: center;
  color: white;
  height: 100%;
  padding-top: 10%;
  font-size: 35px;
}

.subsect3-1{
  text-align: center;
}
